:root {
  --background-color: #FBFCFC;
  --text-color: #1B2631;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #2A2A2A;
    --text-color: #ECF0F1;
  }
  img {
   opacity: .95;
 }
}

div {
  background-color: var(--background-color);
  padding: 20px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: var(--text-color);
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 13px;
  padding-left: 20px;
  color: var(--text-color);
}

p {
  font-family: 'Raleway', sans-serif;
  font-size:12px;
  color: var(--text-color);
}

.secondary {
  color: #95A5A6;
}

.icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.slide {
  max-height: 300px;
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
  margin-bottom: 20px;
}

.carousel-caption {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  padding: 0px;
}

.carousel-control {
  padding: 0px;
  position: relative;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(50%);
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  border-radius: 25px;
  text-align: center;
}

.fab {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
}

.row {
  margin-bottom: 75px;
}
