:root {
  --text-color: #1B2631;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-color: #ECF0F1;
  }
}

html {
  font-family: 'Raleway', sans-serif;
  font-size:12px;
  background-color: transparent;
  color: var(--text-color);
}
